<% include ../partials/header %>

    <div id="main_content">
            <div id="main_welcome">
                <h1>Welcome in beHelp page - share your good!</h1>
                <hr class="hr">
                <p>In this section you can add posts if you can offer help. Do you have any spare toys, clothes or furniture to give away? You can also post it here.</p>
                <p>The form that should be completed in order to place your post is very simple. Just add basic information - your location and description of the post. The current date and your details (username, first and last name) are automatically inserted.</p>
                <img src="add-behelp.jpg" alt="behelp form">
                <p> By clicking the SHOW ALL section you have an access to all the posts. If you want to use someone's help, contact the author (SEND MESSAGE). You can also use the search bar at the top or sort the posts by date of the addition and/or location.</p>
                <p>If a post does not inspire your trust, please let us know by clicking the REPORT IT button.</p>
            </div>
    </div>
    
   



<% include ../partials/footer %>