<% include ../partials/header %>

    <div id="main_content">
        <h1>Thank you.</h1>
        <hr class="hr">
            <h2>Your application has been sent.</h2> 
            <h4>  Within 7 days we will let you know if you will receive a trusted user status.</h4>
            <img src="trusted.png" alt="trusted user mark">
        <hr class="hr">
        <button class="button"><a href="/user">Back to Dashboard</a>
        <button class="button"><a href="/">Back to Home Page</a>
    </div>
    
<% include ../partials/footer %>