<% include ../partials/header %>

    <div id="main_content">
        <h1>Thank you.</h1>
        <hr class="hr">
            <h2>Your report has been sent.</h2> 
            <h4>We will check your message as soon as possible. The trust of our users is very important to us, thats is why we try to remove all inappropriate posts</h4>
        <hr class="hr">
        <button class="button"><a href="/">Back to Home Page</a>
    </div>
    
<% include ../partials/footer %>