<% include ../partials/header %>

    <div id="main_content">
    
        <div id="main_story">
                <h3><i>“Ab alio expectes, alteri quod feceris” <br/> 
                (Treat others the same way you would like them to treat us)</i><br>
                Seneka</h3>
                <hr class="hr">

                <h2>About us</h2>
                <p>The Community Tree was created for people who want to help others as well as for those who need such help. There are many people around us who need help in everyday activities. They can be elderly, lonely, sick or just very busy people. How can you help them? Maybe someone needs help with garden works and it happens that you have green fingers or perhaps you need someone who can look after your dog during your holidays?  Tell us about it! Register first, then log in to your account and select the categories that you are interested in - BeHelp, if you can offer help, NeedHelp when you need help.</p>
                <hr class="hr">

                <h2>Our Mission</h2>
                <p>Our mission is to make local communities happier, safer and closer together. We support and encourage good neighbourly relations. Remember that all the posts are based on unpaid and selfless help (see OUR RULES).</p>
                <hr class="hr">

                <h2>What to do now?</h2>
                    <p> 1. Create your account -> <a href="/registration">CLICK HERE</a> <br /> 
                    <p> 2. Fill out the simple form. <br /> 
                    <p> 3. Login to the dashboard with your account details. <br /> 
                    <p> 4. You have to access to all functionalities - add a new post, review and contact others!</p>
                <hr class="hr">
               
                <h2>Coming soon...</h2>
                <p>We are constantly working on the development of the application. We are in the process of introducing several new facilities for you. They include an interactive post map, rating other users and receiving alerts about posts in your area .... be patient and visit us soon :)</p>
                <img id="map" src="ireland-map.png" alt="interactive map with posts">
            </div>
        <div id="main_rules">
            <h2>OUR RULES</h2>
            <hr class="hr">
            <ol>
                <li> Do not add paid posts as they will be deleted! We promote selfless help to others.</li>
                <li> Inappropriate/spam posts will be removed.</li>
                <li> If you want to use the application fully you just have to register - it is free (<a href="/registration">click here</a>)</li>
                <li> To add a new post you have to login to the dashboard (<a href="/user">click here</a>)</li>
                <li> To communicate with the author of the post you have to be logged in.</li>
                <li> If you want to receive the Trusted User status, check the Upgrade Account section.</li>
                <li> If you have any questions, please contact us via contact form (<a href="/contact">click here</a>).</li>
                <li> In the Reviews section you can see a user’s feedback.</li>
                <li> If you want to add your feedback, you can do it from the user dashboard.</li>
                <li> Remember - When you do good things, good things happen.</li>      
            </ol>
            <hr class="hr">
        </div>

        <div id="main_reviews"> 
        </div>

        <div id="main_contact">
        </div>

    </div>
    
<% include ../partials/footer %>