<% include ../partials/header %>

    <div id="main_content">
        <div id="main_welcome">
            <h1>Welcome in NeedHelp page!</h1>
            <hr class="hr">
            <p>In this section you can add posts if you need help. Be it cleaning, shopping, gardening, we will have it covered asap. Do you need things like toys, clothes or furniture? You can also write about it here.</p>
            <p>The form that should be completed in order to place your post is very simple. Just add basic information - your location and description of the post. The current date and your details (username, first and last name) are automatically inserted.</p>
            <img src="add-needhelp.jpg" alt="needhelp form">
            <p> By clicking the SHOW ALL sections you have access to all posts. If you want to use someone's help, contact the author (SEND MESSAGE). You can also use the search bar at the top or sort the posts on the date of the addition or location.</p>
            <p>If a post does not inspire your trust, please let us know by clicking the REPORT IT button.</p>
        </div>
    </div>
   

  
<% include ../partials/footer %>