<% include ../partials/header %>

    <div id="main_content">

        <h1>Registration</h1>
        <hr class="hr">

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="message"><%= message %></div>
            <% } %>

        <!-- REGISTRATION FORM -->

            <form class="form" action="/registration" method="post">
                <label class="label">USERNAME:</label>
                <input class="input" type="text" name="username" placeholder="Please enter your name" required/>
                <br>
                <label class="label">EMAIL:</label>
                <input class="input" type="email" name="email" placeholder="Please enter your email" required/>
                <br>
                <label class="label">PASSWORD:</label>
                <input class="input" type="password" name="password" placeholder="Please enter your password" required/>
                <br>
                <br>
                <button type="submit" class="button">Signup</button>
        </form>
        <hr class="hr">
        <p>Already have an account? Click here:</p>
        <button class="button"><a href="/login">Login</a></button>
        
    </div>
     
<% include ../partials/footer %>